.now-playing-container {
  background-color: red;
}

.audio-player {
  width: 100%;
}

.app-audio-player-container {
  display: grid;
  grid-template-columns: 80% 20%;
}

.fixed-audio-container {
  width: 100%;
  position: fixed;
  bottom: 0px;
  border-top: 1px transparent black;
}

.play-pause {
  display: block;
  /* position: absolute; */
}

.now-playing-container {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 12px;
}

.now-playing-image-container {
  width: 50px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
}
/* .now-playing-image {
  display: block;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
} */

.now-playing-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.now-playing-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 10px;
}

.now-playing-placeholder {
  display: block;
  margin: auto;
  justify-content: center;
  text-align: center;
}

@font-face {
  font-family: Drone;
  src: url(../../images/Drone.ttf);
}
.sounddrone-audioplayer {
  font-family: "Drone";
  font-weight: bold;
  font-size: 20px;
}

.queue-container {
  display: flex;
  flex-direction: column;
  border: solid black;
  padding-left: 15px;
  background-color: gray;
}

.next-songs {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
