nav {
  width: 100%;
  background-color: rgb(44, 43, 43);

  /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
  border-bottom: 0.5px solid black;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navlink:hover {
  color: rgb(168, 164, 164);
}

.navlink-container > a,
.navlink-container > span,
.session-buttons > a,
.session-buttons > span {
  text-decoration: none;
  /* border: 3px solid grey ;
    border-top:none;
    border-bottom: none; */
  height: 50px;
  padding-inline: 10px;

  color: whitesmoke;
  display: inline-flex;
  align-items: center;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: fit-content;
}

.navlink-container > span {
  font-family: "Drone";
  font-weight: bolder;
  font-size: 40px;
  margin-right: 50px;
}

.navlink-container {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 60px;
}

#profile-button {
  /* margin-left: 70%;
    justify-content: right;
    color: rgb(44, 43, 43);
    background-color: whitesmoke; */
  height: 100%;
  width: 60px;
  font-size: 40px;
}

.profile-dropdown {
  position: absolute;
  top: 58px;
  border: 1px solid rgb(0 0 0 25%);
  height: 90px;
  width: fit-content;
  padding-inline: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgb(44, 43, 43);
}

.profile-dropdown > ul {
  list-style: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: lighter;
}

.active {
  background-color: gray;
}

img {
  position: static;
  height: 10%;
  background-color: white;
  display: inline;
  overflow: hidden;
}

.session-buttons {
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.dropdown-text {
  color: white;
  padding-block: 1px;
}

.dropdown-logout > button {
  background-color: yellow;
}
